table.chartTable th {
    text-align: center;
}

table.chartGames th {
    text-align: center;
}

table.chartGames #hDatum {
    width: 30%;
}

table.chartGames .colDatum {
    text-align: center;
}

table.chartGames .colLiga {
    text-align: center;
}

table.chartGames .colHeim {
    text-align: right;
}

table.chartGames .colGast {
    text-align: left;
}

table.chartGames.teamPage th#hLiga{
    display: none;
}

table.chartGames td.victory span.score {
    font-weight: bold;
    color: black;
}

table.chartGames .weinstadt, .chartTable .weinstadt {
    font-weight: bold;
    color: black;
}

table.chartGames .number, .chartTable .number {
    text-align: center;
}

table.matchDay{
    border-color: #c9c9c9;
}

table.matchDay th {
    background-color: #353535;
    color: #ffffff;

    padding: 9px 15px;

    font-weight: bold;
    font-size: 24px;
}

table.matchDay tr:nth-child(2n) {
    background-color: #d8d8d8;
    color: #000000;
}

table.matchDay tr:nth-child(2n + 1) {
    background-color: #707070;
    color: #ffffff;
}


table.matchDay td{
    padding: 7px 15px;

    font-weight: bold;
    font-size: 22px;
}

@media (max-width: 479px) {
    table td.colLiga {
        display: none;
    }

    table th#hLiga {
        display: none;
    }
}

div.tableSeparator {
    height:100vh;
}
